.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  .header-title {
    cursor: pointer;
  }

  .header-actions {
    .header-btn {

    }
  }
}
