.card-state-container {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.tooltip {
  width: fit-content;
  white-space: nowrap;
  position: fixed;
  pointer-events: none;
  padding: 5px;
  height: 15px;
  background-color: #ffffff;
  font-size: small;
  border: 1px solid #cccccc;
}
